<div class="flex flex-row justify-around text-center w-full bg-[#545454] text-white font-inter font-bold p-2 text-sm">
    <p><a href="/Carta.pdf" class="text-yellow-400">· NUEVA CARTA DISPONIBLE ·</a></p>
</div>